/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header ***********/
.logo-nav {
    width: auto;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
}

ul {
    display: flex;
    list-style-type: none;
}

.padding-top {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 20px;
}
.padding-top:hover {
    color: blue;
    border-top: solid 2px blue;
    position: relative; top: -2px;
    }

/****** Titres, barre de recherche ***********/

h1 {
    font-size: 22px;
    padding-top: 40px;
}
.titre-sub {
    margin: 0;
}

.barre_de_recherche {
    width: 377px;
    height: 49px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bordure-recherche {
    display: flex;
    border: 0.5px solid #F2F2F2;
    border-radius: 15px;
}

.icon-recherche {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.texte-recherche {
    display: flex;
}

input {
    width: 195px;
    height: 49px;
    border: none;
    border-style: none;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    outline: none;
}

.bouton-recherche i {
    display: none;
}

.bouton-recherche {
    background-color: #0065FC;
    width: 132px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    cursor: pointer;
}

.recherche {
    padding-left: 8%;
}

/****** Filtres ***********/

.filtres {
    display: flex;
    gap: 10px;
}

.boutons-filtre {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}
.filtres h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.economique {
    width: 173px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}
.economique:hover {
    background-color:#DEEBFF;
}
.familial {
    width: 134px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}
.familial:hover {
    background-color: #DEEBFF;
}
.romantique {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}
.romantique:hover {
    background-color: #DEEBFF;
}
.pepites {
    width: 167px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}
.pepites:hover {
    background-color: #DEEBFF;
}

.icon {
    padding:10px;
}

.bulle-info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergement-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:5px;
}

.hebergement-cards .card:hover {
    box-shadow: 0px 0px 10px 0px #0065FC;
}

.hebergement-cards .card {
    width: 250.33px;
    height: 207.25px;
    margin-top: 33px;
}

.hebergement-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergement-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
margin-top: 10px;
margin-bottom: 4px;
}

.hebergement-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    padding-top: 15px;
}

.afficher-plus:hover {
    text-decoration: underline;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card:hover{
    box-shadow: 0px 0px 10px 0px #0065FC;
}

/****** Activités ***********/

.activites {
    margin-top: 20px;
    padding: 30px;
}

.card-activite {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activite:hover {
    box-shadow: 0px 0px 10px 0px #0065FC;
}
.activites .section-title {
    margin-bottom: 25px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}

.activites-cards img {
    width: 297.5px;
    height: 439px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards .card-content {
    display: flex;
    flex-wrap: wrap;
}

.activites-cards .card-title {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}


/****** Footer ***********/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    
}

.propos {
    padding-left: 20px;
}

.propos a {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.propos a:hover {
    text-decoration: underline;
}

.hebergements-footer {
    padding-left: 20px;
}

.hebergements-footer a {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.hebergements-footer a:hover {
    text-decoration: underline;
}

.assistance {
    padding-right: 15%;
    padding-left: 20px;
}

.assistance a {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.assistance a:hover {
    text-decoration: underline;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-direction: column;
        align-items: flex-start;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        width: 194px;
        height: 200px;
    }

    .activites-cards .card-activite {
        width: 194px;
        height: 270px;
    }

    .assistance {
        padding-right: 5%;
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        width: 100%;
    }

    .logo-nav {
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .logo-nav {
        padding-bottom: 20px;
    }

    ul {
        display: flex;
        justify-content:space-between;
        padding-left: 0px;
    }

    .padding-top:hover {
        border-top: 0px;
        position: relative; top: 0px;
    }

    .padding-bottom {
        width: 50%;
        padding: 0px 0px 5px 0px;
    }

    .padding-top {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .padding-bottom:hover {
        border-bottom: solid 2px #0065FC;
    }

    .bordure-recherche {
        width: 335px;
        border: 0.5px solid #F2F2F2;
        border-radius: 15px;
    }

    input {
        width: 236px;
    }

    .bouton-recherche {
        width: 49px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0px 3px 5px 0px grey;
    }

    .bouton-recherche h3{
        display: none;
    }

    .bouton-recherche i {
        display: initial;
        color: white;
    }

    .economique, .familial, .romantique, .pepites {
        width: 170px;
    }
    
    .bulle-info {
        padding-bottom: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card{
        display: flex;
        flex-direction: row;
        width: 335px;
        height: 146px;
    }

    .populaires-cards img{
        width: 110px;
        height: 146px;
        border-radius: 20px 0px 0px 20px;
    }

    .hebergement-cards .card{
        width: 335px;
        height: 208px;
    }

    .activites-cards {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .activites-cards .card-activite {
        width: 315px;
        height: 200px;
    }
    .activites-cards img {
        width: 315px;
        height: 141px;
    }

    footer {
        flex-direction: column;
    }
}